/*
* @Author: lenovo
* @Date:   2018-08-15 13:37:22
* @Last Modified by:   lenovo
* @Last Modified time: 2018-08-16 09:46:15
*/
body{
	width: 7.5rem;
}
header{
	width: 7.5rem;
	height: 1.3rem;
	background: linear-gradient(to right,#ffff00,#ff6700);
	padding-top: 0.4rem;
	position: fixed;
	top: 0;
	left: 0;
}
header .top {
	display: flex;
	justify-content: space-between;
	padding: 0rem 0.24rem;
}
header .top img{
	display: block;
}
header .top .box{
	margin-right: 0.5rem;
}
.card{
	width: 6.15rem;
	height: 1.10rem;
	margin: 2rem auto;
	background: #ff0;
	padding: 0rem 0.24rem;
}
.card  .icon{
	display: block;
	width: 0.5rem;
	height: 0.5rem;
	float: left;
	margin: 0.3rem 0.24rem;
}
.card .cardname{
	float: left;
	color: #fff;
	margin: 0.2rem 0rem;
}
.card .cardname .name{
	font-size: 0.28rem;
	text-align: left;
}
.card .cardname .number{
	font-size: 0.18rem;
	text-align: left;
}
p{
	margin-bottom: 0.2rem;
	font-size: 0.24rem;
	text-align: center;
	color: rgba(255, 0, 0, 0.8);
}
.zhi{
	margin-bottom: 0.5rem;
	font-size: 0.4rem;
	margin-left: 2.8rem;
	color: rgba(255, 0, 0, 0.8);
}
.prc{
	font-size: 0.2rem;
	color: rgba(255, 0, 0, 0.8);

}
.jian{
	position: fixed;
	bottom: 0;
	left: 0;
}